<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-loggin">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `fotosocial-loggin`
     * Loggin para acceso a la aplicacion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialLoggin extends Polymer.Element {
      static get is() { return 'fotosocial-loggin'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'fotosocial-loggin'
          }
        };
      }
    }

    window.customElements.define(FotosocialLoggin.is, FotosocialLoggin);
  </script>
</dom-module>
